@{
    ViewBag.Title = "About";
}
<section>
    <div class="row" style="text-align:center">
        <h style="color:#13395D;font-size:56px">@ViewBag.Title</h>
        </div>
    <div class="row" style="text-align:center">
        <img src="~/Images/ad.jpg" style="width:190px;height:190px" class="img-circle img-rounded" />
    </div>
        <div class="row" style="text-align:center">
            <p style="color:white;font-size:large">
                I'm Tariq Sarfraz and This web app is related to Asp.Net.I'm using html,css bootstrap and
                <br />javscript for frontend view and behind C# for backened. My own database include in this
                project.
            </p>
        </div>
        
</section>
